---
import GitHub from "../icons/GitHub.astro"
import Tailwind from "../icons/Tailwind.astro"
import SpringBoot from "../icons/SpringBoot.astro"
import Angular from "../icons/Angular.astro"
import Link from "../icons/Link.astro"

interface Props {
  title: string
  description: string
  link?: string
  imgSrc: string
  frontSrc?: string
  backSrc?: string
}

const { title, description, link, imgSrc, frontSrc, backSrc } = Astro.props
---

<a
  href={link}
  target="_blank"
  class="relative group flex flex-col items-stretch bg-white rounded-lg shadow-lg hover:shadow-xl transition-all dark:bg-gray-800 dark:hover:bg-gray-700 dark:bg-opacity-30 dark:hover:bg-opacity-40"
>
  <div class="relative w-full h-64 md:h-auto md:flex-shrink-0 overflow-hidden rounded-t-lg">
    <Link class="absolute right-0 m-4 opacity-0 group-hover:z-20 z-20 group-hover:opacity-100 group-hover:scale-150 transition-transform duration-200 ease-in-out"/>
    <img
      class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-200 ease-in-out group-hover:z-10 z-10"
      src={imgSrc}
      alt={title}
    />
  </div>
  <div class="flex flex-col justify-between p-6 leading-normal">
    <h5 class="mb-3 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-white group-hover:text-[#00FFC8] transition-colors duration-200">
      {title}
    </h5>
    <p class="mb-4 font-medium text-gray-700 dark:text-gray-400">
      {description}
    </p>

    <div class="flex space-x-2 mb-4">
      {frontSrc && (
          <object>
            <a href={frontSrc} target="_blank" class="btn-anim inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-gray-900 rounded-full transition-colors duration-200 dark:bg-gray-700 dark:hover:bg-gray-600">
              <GitHub class="mr-2 h-6 w-6" />
              Frontend
            </a>
          </object>
      )}
      {backSrc && (
        <object>
          <a href={backSrc} target="_blank" class="btn-anim inline-flex items-center px-4 py-2 text-sm font-semibold text-white bg-gray-900 rounded-full transition-colors duration-200 dark:bg-gray-700 dark:hover:bg-gray-600">
            <GitHub class="mr-2 h-6 w-6" />
            Backend
          </a>
        </object>
      )}
    </div>

    <div class="flex space-x-2">
      <span
        class="inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full transition-colors duration-200 dark:text-gray-300 dark:bg-gray-700"
      >
        <SpringBoot class="mr-2 h-6 w-6" />
        Springboot
      </span>
      <span
        class="inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full transition-colors duration-200 dark:text-gray-300 dark:bg-gray-700"
      >
        <Angular class="mr-2 h-6 w-6" />
        Angular
      </span>
      <span
        class="inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 bg-gray-200 rounded-full transition-colors duration-200 dark:text-gray-300 dark:bg-gray-700"
      >
        <Tailwind class="mr-2 h-6 w-6" />
        Tailwind
      </span>
    </div>
  </div>
</a>

<style>
.btn-anim {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  border: 2px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}

.btn-anim::before,
.btn-anim::after {
  content: '';
  position: absolute;
  border-radius: 9999px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid transparent;
}

.btn-anim::before {
  border-bottom-color: var(--border-hover-color, #00FFC8);
  border-left-color: var(--border-hover-color, #00FFC8);
  transition: all 0.4s ease-in-out;
  clip-path: polygon(0 100%, 0 100%, 0 100%, 0 100%);
}

.btn-anim::after {
  border-top-color: var(--border-hover-color, #00FFC8);
  border-right-color: var(--border-hover-color, #00FFC8);
  transition: all 0.4s ease-in-out 0.4s;
  clip-path: polygon(100% 0, 100% 0, 100% 0, 100% 0);
}

.btn-anim:hover::before {
  clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
  transition-delay: 0s;
}

.btn-anim:hover::after {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  transition-delay: 0.4s;
}
  </style>